.footer {
  /* margin: 100px 0 40px; */
  text-align: center;
  background: #f7f7f7;
  color: #1a1a1a;
  border-top: solid 1px #ccc;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* .footer p {
  margin: 5px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
} */
